
*{
    padding: 0;
    margin: 0;

}

body{
    background-color: rgb(27, 135, 188);
}

#contact{
    background-color: rgb(27, 135, 188);
    /* margin: 100px auto; */
    /* height: 900px; */
}
#contact .container {
    background-color: #ffffff;
    margin: 80px;
    border-radius: 10px;
    height: 450px;
    padding-top: 20px;
}

#contact .cont-img{
    height: 400px;
    width: 100%;
    margin-left: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #7e4d4d,#0e9f71);
    margin-right: 20px;
}



#contact .container .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact .container .cont-form{

    padding-left: -200px;
   margin-top: 30px;
    width: 100%;
    height: 400px;
    
    /* background: #f4e2e2; */

}
#contact .container .cont-form input{
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    background-color: #dcdcdc;

}
#contact .container .cont-form h2{
    font-family: 'Popins',sans-serif;
    margin-bottom: 20px;
    padding-left: 30px;
}
#contact .container .cont-form .textarea{
    display: block;
    font-size: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #dcdcdc;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 50px;
    padding: 15px;
}

.backbtn{
   
    background-color: #ffffff;
    border-radius: 50px;
    color: #7e4d4d;
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    margin-top: 40px;

}

