@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#footer{
    
    background: #205295;
}
#footer .row{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}
.footer-col-right{
    display: block;
    width: 200px;
}

.footer-col-right .social-links a{
    color: white;
    border-radius: 5px;
    font-size: 15px;
    /* background-color: #144272; */
    transition: 0.2s;
    padding: 5px;
}
.footer-col-right .social-links a:hover{
    background-color: rgb(4, 101, 150);
}

.footer-col-right h4{
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.footer-col-right p{
    font-size: 13px;
    font-weight: 800;
    word-spacing: 10px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}
.footer-col ul{
    list-style: none;

}
.footer-col h4{
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid   #205295;;
}
.footer-col h4:hover{
    transition: 0.2s;
    border-bottom: 2px solid white;
}
/* .footer-col h4::before{
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    background-color: rgb(255, 234, 0);
    bottom: -355px;
    
} */
.footer-col ul li a{
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    color: white;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    opacity: 0.7;
    transition: 0.2s;
}
.footer-col ul li a:hover{
    opacity: 1;
}
.footer-col input{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border: none;
    display: block;
    width: 200px;
    height: 45px;
    padding-left: 20px;   
    border-radius: 50px;
    margin: 10px 0;
}
.footer-col .submit{
   width: 100px;
   padding: 0px;
   background-color: #205295;
   color: white;
   font-weight: 800;
   transition: 0.2s;
}
.footer-col .submit:hover{
    border: 1px solid white;
}
.footer-col input:hover{
    border: none;
}

.footer-buttom p{
    font-weight: 700;
    color: white;
    font-family: 'Poppins', sans-serif;
}

@media (max-width:600px){
    #footer .row{
        padding: 20px 30px;
        flex-direction: column;
    }
    #footer .footer-col{
        /* background-color: aquamarine; */
        margin-left: -250px;
    }
    #footer .footer-col-right{
        margin-left: -250px;
        margin-bottom: 20px;
    }

    #footer .footer-col ul{
        margin-left: 20px;
        margin-bottom: 20px;
       
    }
    .footer-col input{
   
        width: 100%;
    }
}

