*{
    margin: 0;
    padding: 0;
    font-family:monospace;

}
 body{
    background-color: beige;

 }
 
 header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20px;
    background-color: rgb(4, 101, 150);
    background: #205295;
 }
 nav{
    display: flex;
    align-items: center;
 
 }

 header .logo a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 25px; 

 }
 span{
    color: rgb(255, 217, 0);
 }
header ul {
   display: flex;
}
header ul li{
    list-style-type: none;
    display: block;
    padding: 5px 5px;
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 15px;
    font-weight: 800;
    border-radius: 50px;
    
}
header ul li a:hover{
    background-color: azure;
    transition: 0.2s;
    color: #144272;
    border-radius: 50px;
}
header a button{
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    color: #144272;
    border-radius: 50PX;
    background-color: rgb(255, 255, 255);
}
header a button:hover{
    background-color: rgb(159, 206, 255);
    color: #144272;
    transition: 0.5s;
    outline-offset: 1;
}

.grp-btn{
    margin-left: 50px;
}
.grp-btn .navbtn{
    background-color: white;
    color: #144272;
}


.menu{
    display: none;
}

@media only screen and (max-width: 1320px) {
    nav{
        padding: 0 50px;
    }
    
}
@media only screen and (max-width: 1100px) {
    nav{
        padding: 0 30px;
    }
    
}
@media only screen and (max-width: 900px) {
    .menu{
        display: block;
        cursor: pointer;
    }
    .menu .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
        border-radius: 5px;
    }
   
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        height: 0px;
        background: #3875c5;
        transition: 0.2s; 
        overflow: hidden;
    }
    nav.active{
        height: 450px;
    }
    nav.active{
        opacity: 100%;
    }
    nav ul{
        display: block;
        width: fit-content;
        margin: 0px auto 0 auto;
        transition: 0.3s;
        /* opacity: 0; */
        
    }
    nav ul li{
        margin-bottom: 20px;
        font-size: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }

}





