@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

#hero-section {
    height: 60vh;
    background-image: linear-gradient(to right, #144272, #3875c5);

 }
 #hero-section .content {
    /* width: 200px; */
    text-align: center;
 }
.title{
    color: white;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    /* line-height: 150%; */
}
.subtitle{
    color: white;
    font-size: 30px;
    font-weight: 400;
    /* margin-top: 40px; */
    font-family: 'Poppins', sans-serif;
}
.description{
    /* width: 400px; */
    color: white;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.group-btn button{
    padding: 10px 20px;
    background-color: rgb(225, 75, 75);
    color: white;
    font-weight: 300px;  
    border: none;
    border-radius: 5px;
}
.group-btn button:hover{
    background-color: brown;
    transition: 0.5s;
}

@media only screen and (max-width: 735px) {
    .hero img{
        display: none;
    }
    .hero .title,.subtitle , .discription{
        /* font-size: 20px; */
    }
}

@media only screen and (max-width: 991px) {
    .hero{
        margin-top: 0;
    }
    .title{
        font-size: 30px;
    }
    .subtitle{
        margin: 0;
        font-size: 20px;
    }
    .discription{
        font-size: 15px;

    }
    .group-btn button{
        font-size: 10px;
    }
    .hero img{
        width: 50%;
        padding-left: 200px;
    }
}

@media only screen and (max-width: 560px) {
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 15px;
    }
    .discription{
        font-size: 15px;

    }
    .group-btn button{
        font-size: 12px;
    }
}

@media only screen and (max-width: 560px) {
    .title{
        font-size: 30px;
    }
    .subtitle{
        font-size: 15px;
    }
    .discription{
        font-size: 15px;

    }
    .group-btn button{
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px) {
    .title{
        font-size: 20px;
    }
    .discription{
        font-size: 10px;

    }
    .group-btn button{
        font-size: 10px;
    }
}

